.main-area{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    margin-top: 30px;
    /* align-items: center; */
}
.main-area div.recommended-books,
.main-area div.user-profile{
    border: 1px solid #000;
}
.main-area .recommended-books{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
}
.main-area .recommended-books > span{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.main-area .right-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 400px;
}
.recommended-books .books{
    display: flex;
    justify-content: space-evenly;
    /* display: block; */
    margin-top: 30px;
}
/*
position: fixed; top: 0; right: 0;
*/
.recommended-books .book{
    float:left;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    margin-left: 20px;
    align-items: center;
    /* width: auto;
    height: auto; */
}
.recommended-books .book > img{
    width: 120px;
    height: 160px;
    margin-bottom: 10px;
}
.recommended-books .book > label{
    font-size: 18px;
}

.main-area div.user-profile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 200px;
}
.main-area div.user-profile > button{
    width: 70%;
}
.main-area div.user-profile > div:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-area div.user-profile > div:first-child > button{
    height: 36px;
    margin-left: 20px;
}
.main-area div.user-profile > div:nth-child(2){
    display: flex;
    justify-content: center;
}
.main-area div.user-profile > div:nth-child(2) > label:last-child{
    margin-left: 20px;
}
.main-area div.write-bookReport{
    margin-top: 10px;
    width: 100%;
    height: 140px;
}
.main-area div.write-bookReport > button{
    width: 100%;
    height: 100%;
}