.title-area{
    display: flex;
    width:100%;
    height:90px;
    border-bottom: 2px solid #000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ffb340;
}
.title-area img{
    width: 60px;
    height: 60px;
}
.title-area > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.title-area > div > h2{
    margin:0
} 